<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Homepage</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="scripts/MyScript.js"></script>

</head>

<body>

<h1>Добрейшего вечера!</h1>
<br>
Короче, Меченый, я тебя спас, и в благородство играть не буду... <br>
<br>
Эта штука тебя сейчас быстро посчитает
<br>
<input type="number" id="var1" value = 20> +
<input type="number" id="var2" value = 120> =
<input type="number" id="result" value = 140 readonly>
<br>
<button id="load">Post</button>
</body>

</html>